body {
    margin: 0px;
    font-family: Arial;
    font-size: 15px;
}
.youtube {
    background: #c1bebe ;
    float: left;
    width: 100%;
    height: 70px;
}
#logo_youtube {
    width: 10%;
    height: 50px;
    float: left;
    margin-top: 10px;
}
#phim {
    background: #c1bebe;
    margin-top: 9px;
    width: 100%;
    height: 50px;
    float: left;
}
.phim {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35%;
}
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
    margin-top: 2px;
    margin-left: 5px;
    background: #e2dfdf;

}

.col-4 {
    width: 33.3%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
    margin-top: 5px;
    margin-left: 80px;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}
[class*="col-"] {
    float: left;
    padding: 0px 0px 0px 0px;
}
.img_doremon {
    width: 100%;
    height: 150px;
    font-weight: bold;
}
.phu_de {
    margin-top: -20px;
    margin: 10px;
}
#img_big {
    width: 90%;
    height: 500px;
}
#youtube {
    margin: auto 50px;
    position: relative;
}
#position {
    position: sticky;
}
.footer {
    background: #c1bebe;
    clear: both;
    display: flex;
    justify-content: center;
    align-items: center;
}